# This is a CODEOWNERS file.
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Specify the owners for the entire repository
*       patrick.foley@intel.com teodor.parvanov@intel.com kta-intel

# Specify the owners for specific directories
/.github/           teodor.parvanov@intel.com noopur@intel.com payal.chaurasiya@intel.com rajithkrishnegowda tanwarsh theakshaypant ishaileshpant
/.github/actions/   noopur@intel.com payal.chaurasiya@intel.com
/docs/              patrick.foley@intel.com teodor.parvanov@intel.com kta-intel
/openfl-docker/     patrick.foley@intel.com teodor.parvanov@intel.com kta-intel
/openfl-tutorials/  patrick.foley@intel.com teodor.parvanov@intel.com kta-intel
/openfl-workspace/  patrick.foley@intel.com teodor.parvanov@intel.com kta-intel
/openfl/            patrick.foley@intel.com teodor.parvanov@intel.com kta-intel
/scripts/           patrick.foley@intel.com teodor.parvanov@intel.com kta-intel
/tests/             teodor.parvanov@intel.com noopur@intel.com payal.chaurasiya@intel.com rajithkrishnegowda tanwarsh theakshaypant ishaileshpant rahulga1
/tests/end_to_end/  teodor.parvanov@intel.com noopur@intel.com payal.chaurasiya@intel.com rahulga1

# Specify the owners for specific files
setup.py                patrick.foley@intel.com teodor.parvanov@intel.com kta-intel
README.md               patrick.foley@intel.com teodor.parvanov@intel.com kta-intel
test-requirements.txt   teodor.parvanov@intel.com noopur@intel.com payal.chaurasiya@intel.com rajithkrishnegowda tanwarsh theakshaypant ishaileshpant
